.number__title {
    font-size: 3.864rem;
    font-family: "dmserif";
    color: #CDA274;
}

.block__statistics {
    max-width: 1920px;
    padding: 140px 120px;
    background-color: #F4F0EC;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 130px;
}

.statistics__card {
    width: 288px;
    height: 195px;
    border-right: 1px solid #CDA274;
    padding: 13px 40px;
    text-align: center;
}